<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">

  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>controller.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/bonjourZERATOR</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddComputerServlet</servlet-name>
    <servlet-class>controller.servlet.AddComputerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComputerServlet</servlet-name>
    <url-pattern>/bonjourAdder</url-pattern>
  </servlet-mapping>
 
</web-app>